body {
  background: url("../img/HieroglypheBG.jpg") repeat;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

/* Navigation */

.nav-link {
  margin: 10px;
}
.nav-link:hover {
  background-color: #12151c;
  border-radius: 5px;
  padding-left: 7px;
  transition: 0.6s;
}

.navbar {
  background-color: #191d26;
  box-shadow: 10px 5px 5px #12151c;
}
.navbar:hover {
  color: white;
}
/* icone shopping bag */
.fa-bag-shopping {
  font-size: 1.5rem;
}

/* panier */
.panier {
  margin: 0 2.5rem 0 0;
  cursor: pointer;
  color: white;
  margin-left: 10px;
}

/* popup */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

/* sert a positionner le front et le back de la carte yugioh */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Stylise le coté back */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
}

/* Stylise le coté front */
.flip-card-front {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
}

/* Ne pas toucher, sert a centrer la card PopUP */
.coreCard {
  position: absolute;
  top: 22vh;
  left: 0;
  right: 0;
  margin: auto;
}

/* YU GI OH CARDS */
.yugiCard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
}

.card {
  cursor: pointer;
}
.card-img-top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.btn{
  background-color: rgba(207, 0, 15);
}
.btn:hover{
  background-color: rgba(243, 3, 19, 0.932);
}
/* scrollbar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #12151c;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

 /* Bouton Scroll To Top */
 
 .returnTop {
  position: sticky;
  top: 55vh;
  bottom: 40px;
  left: 92vw;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

}

a .bi {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  left: 45%;
}
a :hover {
  color: rgba(255, 255, 255, 0.9);
}


/* Section commentaire */
.commentaire{
  color: white;
  text-align: center;
  text-decoration: underline 2px;
}
.form-control {
  outline: none;
}

.form-control:focus {
  border: 1.5px solid #191d26;
}

/* Footer */

footer {
  background-color: #191d26;
  padding: 50px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding-left: 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 300;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  width: 50px;
  height: 2px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #ddd;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #e91e63 ;
  margin-left: 20px;
  transition: 0.4s ;
  text-decoration: underline;
  
  transform: scale(1.2);
}

.footer-col .social-links a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #151515;
  background-color: #fff;
}


@media (min-width: 996px) {
  .panier:hover {
    padding-right: 7px;
    transition: 0.4s;
    transform: scale(1.2);
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }

}

/* Animation clique du PopUp */

.clickHere {
  position: relative;
  top: 20rem;
  width: 5rem;
  animation: grow-shrink 1.3s infinite alternate;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
